<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>author</param-name>
        <param-value>御承扬</param-value>
    </context-param>
    <context-param>
        <param-name>createDate</param-name>
        <param-value>2019-11-15</param-value>
    </context-param>
    <context-param>
        <param-name>createTime</param-name>
        <param-value>16:20:30</param-value>
    </context-param>
    <servlet>
        <servlet-name>WordServlet</servlet-name>
        <servlet-class>com.lyq.ServletSet.WordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WordServlet</servlet-name>
        <url-pattern>/servletTest/WordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FirstServletNew</servlet-name>
        <servlet-class>com.lyq.ServletSet.FirstServletNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServletNew</servlet-name>
        <url-pattern>/servletTest/FirstServletNew</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FilterTest</filter-name>
        <filter-class>com.lyq.ServletFilterSet.FilterTest</filter-class>
        <init-param>
            <param-name>test</param-name>
            <param-value>御承扬的博客</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FilterTest</filter-name>
        <url-pattern>/FilterJSPSet/filterJSPTest.jsp</url-pattern>
    </filter-mapping>
<!--    <filter>-->
<!--        <filter-name>CharactorFilter</filter-name>-->
<!--        <filter-class>com.lyq.ServletFilterSet.CharactorFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>encoding</param-name>-->
<!--            <param-value>UTF-8</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CharactorFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.lyq.ServletFilterSet.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>com.lyq.Servlet3_0CodeSet.SaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/SaveServlet</url-pattern>
    </servlet-mapping>
</web-app>